<p>
  <app-add-question></app-add-question>
</p>

<md-card *ngIf="!dataLoaded" >
        <md-card-header>
        <div md-card-avatar>
            <md-icon>person</md-icon>
        </div>
        </md-card-header>
        <md-card-footer>
            <md-progress-bar mode="indeterminate" >
            </md-progress-bar>
        </md-card-footer>
</md-card>


<md-tab-group>
    <md-tab label="Answers">
        <div *ngFor="let answer of user">
            <md-card >
            <br />
            <br />
            <md-card-header>
                <div md-card-avatar>
                    <md-icon>person</md-icon>
                </div>
                <md-card-title >{{answer.answeredByName}}</md-card-title>
                <md-card-subtitle>{{answer.date | date}}</md-card-subtitle>
                <md-chip-list>
                    <md-chip>Education</md-chip>
                </md-chip-list>
                <span fxFlex></span>
                <md-menu #answerMenu="mdMenu" xPosition="after" yPosition="below" [overlapTrigger]="false" >
                <button md-menu-item (click)="deleteAnswer(answer.answerId);"> Delete </button>
                </md-menu>
                
                <button md-icon-button  [mdMenuTriggerFor]="answerMenu" >
                    <md-icon>more_vert</md-icon>
                </button>

            </md-card-header>
            <md-card-content>
                <h3 (click)=onSelect(answer.questionId) style="cursor: pointer">
                    {{answer.question}}
                </h3>
                 <p style="white-space: pre-wrap;">
                    {{answer.answer}}
                </p>
            </md-card-content>
            <md-card-actions align="center">
            <div > 
                <button md-button color="primary" (click)=agree(answer.answerId)>{{answer.noOfAgree}} Agree</button>
                <button md-button color="warn" (click)=disagree(answer.answerId)>{{answer.noOfDisagree}} Disagree</button>
                <button md-button 
                    color="primary" 
                    (click)="onSelectComment(answer.answerId)">
                    Comments
                </button>
            </div>
            </md-card-actions>
            <md-card-footer>
                <md-progress-bar mode="indeterminate" 
                                    *ngIf="deleteAnswerProgress">
                </md-progress-bar>
            </md-card-footer>
        </md-card>
        <br />
        </div>
        <div>
            <md-card *ngIf="!user.length && dataLoaded">
                <md-card-header>No more data</md-card-header>
            </md-card>
        </div>
        <div>
            <button 
                md-button 
                color="basic"
                *ngIf="dataLoaded && pageno!=0"
                (click)="onClickPrevious();">
                Previous Page
            </button>
            <span fxFlex></span>
            <button 
                md-button 
                color="basic"
                *ngIf="dataLoaded && user.length"
                (click)="onClickNext();">
                Next Page
            </button>
        </div>

    </md-tab>
    <md-tab label="Questions">
        <app-questions></app-questions>
    </md-tab>
    <md-tab label="About">
        <app-about></app-about>
    </md-tab>
</md-tab-group>






