<p>
  <app-add-question></app-add-question>
</p>
<div *ngFor="let answer of user">
<md-card >
        <md-card-header>
        <div md-card-avatar>
            <md-icon>person</md-icon>
        </div>
        <md-card-title>{{answer.answeredBy}}</md-card-title>
        <md-card-subtitle>{{answer.date | date}}</md-card-subtitle>
            <md-chip-list>
                <md-chip>Education</md-chip>
            </md-chip-list>
        </md-card-header>
        <md-card-content>
          <h3 (click)=onSelect(answer.questionId) style="cursor: pointer">
            {{answer.question}}
          </h3>
            <p style="white-space: pre-wrap;">
        {{answer.answer}}
            </p>
        </md-card-content>
</md-card>
<br />
</div>

