<p>
  <app-add-question></app-add-question>
</p>
<!-- Dummy -->
<md-card *ngIf="!dataLoaded" >
    <md-card-header>
    <div md-card-avatar>
        <md-icon>person</md-icon>
    </div>
    </md-card-header>
    <md-card-footer>
        <md-progress-bar mode="indeterminate" >
        </md-progress-bar>
    </md-card-footer>
</md-card>
<br />
<div *ngFor = "let answer of data">
  <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar><md-icon>person</md-icon></div>
      <md-card-title (click)=onSelectUserId(answer.answeredBy) style="cursor: pointer">
        {{answer.answeredByName}}
      </md-card-title>
      <md-card-subtitle>{{answer.date | date}}</md-card-subtitle>
      <md-chip-list>
        <md-chip>Education</md-chip>
      </md-chip-list>
    </md-card-header>
    <md-card-content>
        <h3 (click)=onSelect(answer.questionId) style="cursor: pointer">
          {{answer.question}}
        </h3>
        <p style="white-space: pre-wrap;">
          {{answer.answer}}
        </p>
            
    </md-card-content>
    <md-card-actions align="center">
      <div> 
          
        <button md-button 
          color="{{ (getAgreeStatus(answer.agree)) ? 'primary' : '#e7e7e7' }}" 
          (click)=agree(answer.answerId)> 
          {{answer.noOfAgree}} Agree
        </button>

        <button md-button mode="indeterminate" 
          color="{{ (getDisagreeStatus(answer.disagree)) ?  'warn': '#e7e7e7' }}"  
          (click)=disagree(answer.answerId)>{{answer.noOfDisagree}} Disagree
        </button>

        <button md-button 
          color="primary" 
          (click)="onSelectComment(answer.answerId)">
          Comments
        </button>
      </div>
    </md-card-actions>
  </md-card>
  <br />
</div>
<div>
  <md-card *ngIf="!data.length && dataLoaded">
    <md-card-header>No more data</md-card-header>
  </md-card>
</div>

<div>
  <button 
    md-button 
    color="basic"
    *ngIf="dataLoaded && pageno!=0"
    (click)="onClickPrevious();">
    Previous Page
  </button>
  <span fxFlex></span>
  <button 
    md-button 
    color="basic"
    *ngIf="dataLoaded && data.length"
    (click)="onClickNext();">
    Next Page
  </button>
</div>


