<br />
<br />

<div>
  <md-toolbar color="" class="mat-elevation-z6">
      <span>Use college details</span>
  </md-toolbar>
</div>
<div>
<md-card>
  <form #registerUser="ngForm"  (ngSubmit)="submitNewUser();">
    <div fxLayout="row" >
      <div fxFlex="100">
        <div>
          <md-input-container>
            <input  mdInput 
                    placeholder="Reg. No." 
                    name="reg_no"
                    [(ngModel)]="register.username"
                    required
                    >
          </md-input-container>
        </div>

        <div>
          <md-input-container >
            <input  mdInput 
                    placeholder="Password" 
                    name="password" 
                    type="password"
                    [(ngModel)]="register.password"
                    required
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            >
          </md-input-container>
        </div>
      </div>
    </div>
    <div  fxLayout="row">
      <div *ngIf="invalid" 
            fxFlex="100"
            class="invalid-block" 
            align="center" >
            {{error}}
      </div>
    </div>
    <div fxLayout="row" >
      <button md-raised-button 
              color="primary" 
              type="submit" 
              name="submit" 
              fxFlex="100"> 
              Register
      </button>
    </div>
  </form>
  <div fxLayout="row" >
    <button md-button 
            type="submit" 
            name="login" 
            (click)="loginPage();" 
            color="primary" 
            fxFlex="100">
            Login
    </button>
  </div>
</md-card>
</div>

