
<br />
<br />
<div>
<md-card>
  <form #registerUser="ngForm"  (ngSubmit)="submitNewUser();">
    <div fxLayout="row" >
      <div fxFlex="100">
        <div>
          <md-input-container>
            <input  mdInput 
                    placeholder="Reg. No." 
                    name="reg_no"
                    [(ngModel)]="register.username"
                    required>
          </md-input-container>
        </div>

        <div>
          <md-input-container >
            <input  mdInput 
                    placeholder="Password" 
                    name="password" 
                    type="password"
                    [(ngModel)]="register.password"
                    required>
          </md-input-container>
        </div>

        <div>
          <md-input-container >
            <input  mdInput 
                    placeholder="Confirm Password" 
                    name="confirm_password" 
                    type="password"
                    required>
          </md-input-container>
        </div>
      </div>
    </div>
    <div fxLayout="row" >
      <button md-raised-button color="primary" type="submit" name="submit" fxFlex="100"> 
        Register
      </button>
    </div>
  </form>
  <div fxLayout="row" >
  <button md-button type="submit" name="login" (click)="loginPage();" color="primary" fxFlex="100">
      Login
    </button>
  </div>
</md-card>
</div>

