<br />
<br />

<div >
<md-card >
    <form #login="ngForm" (ngSubmit)="loginPage();">
        <div fxLayout="row" >
          <div fxFlex="100">

            <div>
              <md-input-container>
                <input mdInput 
                      placeholder="Username" 
                      [(ngModel)]="data.username" 
                      name="username" required>
              </md-input-container>
            </div>

            <div>
              <md-input-container>
                <input mdInput 
                      placeholder="Password" 
                      type ="password" 
                      [(ngModel)]="data.password" 
                      name="password" required>
              </md-input-container>
            </div>

          </div>
        </div>
          <div>
            <button md-raised-button type="submit" name="submit" color="primary" fxFlex="100">
              Login
            </button>
          </div>
    </form>
    <div fxLayout="row" >
      <button md-button type="submit" name="register" (click)="register();" color="primary" fxFlex="100">
        Register
      </button>
    </div>
</md-card>
</div>