<br />
<br />
<div>
  <md-toolbar color="" class="mat-elevation-z6">
      <span>LogIn</span>
  </md-toolbar>
</div>
<div >
<md-card >
    <form #login="ngForm"  (ngSubmit)="loginPage();">
        <div fxLayout="row" >
          <div fxFlex="100">

            <div>
              <md-input-container>
                <input mdInput 
                      placeholder="Username" 
                      [(ngModel)]="data.username" 
                      name="username" 
                      class="form-control"
                      minlength="10"
                      required>
              </md-input-container>                
            </div>

            <div>
              <md-input-container>
                <input mdInput 
                      placeholder="Password" 
                      type ="password" 
                      [(ngModel)]="data.password" 
                      name="password" 
                      required>
              </md-input-container>
            </div>

            <div  fxLayout="row">
              <div *ngIf="invalid" 
                    fxFlex="100"
                    class="invalid-block" 
                    align="center" >
                    Failed to login
              </div>
            </div>

          </div>
        </div>
          <div>
            <button md-raised-button type="submit" name="submit" color="primary" fxFlex="100">
              LogIn
            </button>
          </div>
    </form>
    <div fxLayout="row" >
      <button md-button type="submit" name="register" (click)="register();" color="primary" fxFlex="100">
        Register
      </button>
    </div>

    <md-card-footer>
        <md-progress-bar mode="indeterminate" 
                         *ngIf="loading">
        </md-progress-bar>
      </md-card-footer>
</md-card>
</div>