<br><br>
<br><br>
<div>
  <md-toolbar color="" class="mat-elevation-z6">
      <span>Forgot Password</span>
  </md-toolbar>
</div>
<md-card>
  <div >
    <div *ngIf = "!proceed">
      <form  #forgotPassword="ngForm"  (ngSubmit)="forgot();"><br>
        <div fxLayout="row" >
          <div fxFlex="100">
            <md-input-container>
              <input  mdInput type="text"
                      name="username" 
                      [(ngModel)]="data.username" 
                      #user = "ngModel">
              <md-placeholder>
                Username
              </md-placeholder>
              
            </md-input-container><br><br>
            <div class="md-errors-spacer invalid-block">
              <span *ngIf = "!userValid"> Invalid User</span>
            </div>
            <button md-raised-button color="primary" type="submit" name="action">
                <span *ngIf = "click"> Sending OTP</span>
                <span *ngIf = "!click"> Submit</span>   
            </button><br><br>
          </div>
        </div>
      </form >
      </div>
        <div *ngIf = "proceed">
          <form #submitPassword="ngForm" (ngSubmit) = "onSubmit()">
            <md-input-container style="width:100%">
                <input #OTPInput
                      mdInput 
                      placeholder="   OTP" 
                      value="" 
                      name="otp" 
                      [(ngModel)]="otp"
                      #newotp ="ngModel"
                      required
                > 
            </md-input-container>

            <md-input-container style="width: 100%"> 
                <input #passwordInput 
                      mdInput 
                      placeholder="  New Password" 
                      value="" 
                      name="password" 
                      type="password"
                      [(ngModel)]="password"
                      #newpassword="ngModel"
                      minlength="8"
                      required
                >
            </md-input-container>
            <br>
            <md-input-container style="width:100%">
              <input #passwordInput 
                    mdInput 
                    placeholder="  Confirm Password" 
                    value="" 
                    name="cpassword" 
                    type="password"
                    [(ngModel)]="cpassword"
                    #confirmpassword="ngModel"
                    minlength="8"
                    required
              > 
            </md-input-container>
            <div  fxLayout="row">
              <div *ngIf="invalid" 
                    fxFlex="100"
                    class="invalid-block" 
                    align="center" >
                    {{error}}
              </div>
            </div>
            </form>
        

            <div *ngIf = "change" class="md-errors-spacer invalid-block">
                Incorrect OTP
            </div>
            <div class="md-errors-spacer invalid-block" [hidden]="newpassword.valid || newpassword.untouched">
              <div  *ngIf="newpassword.errors && newpassword.errors.required">
                  <!--Password is required-->
              </div>
              <div  *ngIf="newpassword.errors && newpassword.errors.minlength">
                  Min password length is 8
              </div>
            </div>            
            <button md-raised-button 
                    (click)="onSubmit();" 
                    color="primary"
                    [disabled]="newpassword.errors || newpassword.untouched"
            >
              Submit
            </button>

        </div>
      </div>
</md-card>
  
  