<p>
   <md-card>
        <h2 (click)=onSelect(answer.questionId) style="cursor: pointer">
            {{answer.question}}
        </h2>
   </md-card>
   <br />
   <md-card>
        <md-card-header>
        <div md-card-avatar>
            <md-icon>person</md-icon>
        </div>
        <md-card-title (click)=onSelectUserId(answer.answeredBy) style="cursor: pointer">{{answer.answeredByName}}</md-card-title>
        <md-card-subtitle>{{answer.date | date}}</md-card-subtitle>
            <md-chip-list>
                <md-chip>{{answer.sec}}</md-chip>
            </md-chip-list>
        </md-card-header>
        <md-card-content>
            <p style="white-space: pre-wrap;">
        {{answer.answer}}
            </p>
        </md-card-content>
        <md-card-actions align="center">
            <button md-button 
            color="{{ (getAgreeStatus(answer.agree)) ? 'primary' : '#e7e7e7' }}" 
            (click)=agree(answer.answerId)> 
            {{answer.noOfAgree}} Agree
          </button>
  
          <button md-button 
            color="{{ (getDisagreeStatus(answer.disagree)) ?  'warn': '#e7e7e7' }}"  
            (click)=disagree(answer.answerId)>{{answer.noOfDisagree}} Disagree
          </button>
          
        </md-card-actions>
    </md-card>
        <app-add-comments></app-add-comments>
        <app-all-comments></app-all-comments>
</p>
