<br />
<div *ngFor="let comment of comments">
    <md-card>
        <md-card-header>
        <div md-card-avatar>
            <md-icon>person</md-icon>
        </div>
        <div>
        <md-card-title (click)=onSelectUserId(answer.answeredBy) style="cursor: pointer">
          {{comment.name}}
        </md-card-title>
        <md-card-subtitle>{{comment.date | date}}</md-card-subtitle>
        </div>
        </md-card-header>
        <md-card-content>
            {{comment.comment}}
        </md-card-content>
        <md-card-actions align="center">
            <button md-button color="primary" (click)="agreeComment(comment.commentId);">{{comment.noOfAgree}} Agree</button>
            <button md-button color="warn" (click)="disagreeComment(comment.commentId);">{{comment.noOfDisagree}} Disagree</button>
        </md-card-actions>
    </md-card>
  <br />
</div>
