<br />
<br />
<br />

<div >
    <div fxLayout="row">
      <div fxFlex="100">
        <md-card style="width: 90%">             
          <md-card-header>
            <md-card-subtitle>
              This app is under development, please cooperate and feel free to report bugs.
              <br />
              <br/>
              This app may not work between 11:00 PM to 12:00 AM
            </md-card-subtitle>
          </md-card-header>
        </md-card>
      </div>
    </div>

<p>  
</p>

<div fxLayout="row">
    <div fxFlex="100">
      <md-card style="width: 90%">             
        <md-card-header>
          <md-card-title>
            Contact
          </md-card-title>
        </md-card-header>
      </md-card>
    </div>
  </div>

<div >
  <div fxLayout="row">
    <div fxFlex="100">
      <md-card style="width: 90%">             
        <md-card-header>
          <md-card-title >Vishal Gupta</md-card-title>
          <md-card-subtitle>Full Stack Developer</md-card-subtitle>
          <md-card-subtitle>Computer Science and Engineering</md-card-subtitle>
          <md-card-subtitle>Institute Of Technical Education and Research</md-card-subtitle>
          <md-card-subtitle>vishalgupta7991@gmail.com</md-card-subtitle>
        </md-card-header>
      </md-card>
    </div>
  </div>

  <br /> 

</div>